body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); /* 10% opacity black */
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 50%;
    border: 1px solid black;
    margin: 5% auto;
    opacity: 1;
}